@mixin navbar(){
    nav {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            a{
                text-decoration: none;
                color: white;
                
                li{
                padding: 25px;
                list-style-type: none;
                }
            }
        }
    }
    a.active{
        color: $orangeColor;
    }
}
