$fond-ecran: linear-gradient(0.25turn,rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.212),rgba(0, 0, 0, 0.712)) ,url("../../assets/img/img/model-1.jpg");
$primaryColor:#272727;
$orangeColor:#ff652f;
$boxColor: #3f3e3e;
$fond-ecran-resp: linear-gradient(0.25turn,rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.212),rgba(0, 0, 0, 0.712)) ,url("../../assets/img/img/model-1-little.jpg");